# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.name
/compiler.xml
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_9_5.xml
/libraries/Maven__net_sf_ehcache_ehcache_2_10_6.xml
/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_4_1_Final.xml
/libraries/Maven__org_hibernate_hibernate_ehcache_5_4_1_Final.xml
/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/libraries/Maven__org_jboss_jandex_2_0_5_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/libraries/Maven__org_mariadb_jdbc_mariadb_java_client_2_4_1.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
